*
!.gitignore
!makefile
!*.yaml
!*.bib
!*.bst
!*.css
!*.clo
!*.cls
!*.dot
!*.forest
!*.html
!*.ipynb
!*.latexmain
!*.lua
!*.md
!*.mdown
!*.png
!*.py
!*.sed
!*.sh
!*.svg
!*.sty
!*.tex
!*.tikz
!doc/
!exercises/
!exercises/**/
!filters/
!jupyter/
!jupyter/**/
!output/
!output/**/
!includes/
!includes/**/
!scripts/
!scripts/**/
!source/
!source/**/
source/random_exercises
!templates/
!templates/**/
!test/
!test/**/
**/.ipynb_checkpoints/
